# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Supabase
.branches
.temp

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
build/
